.App {
  min-height: 210vh;
  max-height: auto;
  display: grid;
  grid-template-rows: 5% 95%;

  @include respond(phone) {
    grid-template-rows: 4% 96%;
    border: 1px solid red;
  }

  @include respond(tab) {
    border: 1px solid #e5ff00;
  }

  @include respond(desk) {
    border: 1px solid #15ff00;
  }

  @include respond(ultra) {
    height: 180rem;
    border: 1px solid #00ffff;
  }
}
